<div id="banner">
    <h1>Search for movies</h1>
    <p>Add a movie to your custom list</p>
    <p>
      <%= link_to 'Add a new list', new_list_path, class: 'btn btn-danger btn-md' %>
    </p>
</div>

<div class="container">

<% @lists.each do |list| %>
  <div class="card" style="width: 18rem;">
    <% cl_image_tag("wrxxtiocktz1ivo2kcdy", width: 25, height: 25) %>
    <div class="card-body">
    <p class="card-text"><%= link_to list.name, list_path(list) %></p>
    </div>
  </div>
  <% end %>

</div>



<span class="create"><%= link_to 'Create a new list', new_list_path %></span>


<!-- %= cl_image_tag("wrxxtiocktz1ivo2kcdy", width: 400, height: 300, crop: :fill) %> -->

<!-- <%= cl_image_tag("wrxxtiocktz1ivo2kcdy", width: 150, height: 150, crop: :thumb, gravity: :face) %> -->


