<h2>What movie would you like to add?</h2>
<%= simple_form_for [@bookmark] do |f| %>
  <%= f.input :c%>
  <%= f.submit "Submit", class: "btn btn-primary" %>
<% end %>

a form

input for comment
drop down allow the user to select movie
submit

bookmarks controller create

create bookmark
assign it to movie id
list id from params
create bookmark
